/*@import '@picocss/pico/css/pico.conditional.css';*/
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/*@import './overrides.css';

@import './toolbar.css';
@import './tree.css';

@import './popover.css';
@import './dropdown.css';*/

@import './card.css';

@import './hstack.css';
@import './vstack.css';

@import './text-input.css';

@import './form-field.css';

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}